body {
    background-image: linear-gradient(30deg,#000,#000e2c);
    color: white;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    min-height: 100vh;
}


a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 50px;
}

.webdev .cards,
.others .cards {
    margin:0px 100px 0px 100px;
}

.webdev .cards div,
.others .cards div {
    color: white;
    border: #0a1d31 solid 0.1px;
    background: rgba(45, 64, 76, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: 20px 5% 0px 10px;
    transition: width 0.8s linear, box-shadow 0.5s ease-in-out;
    overflow: hidden;
    padding-left: 2%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15); /* subtle glow */
}


.webdev .cards div > * {
    flex-shrink: 0;
}

.webdev .cards div:hover,
.others .cards div:hover {
    width: 90%; 
    background-image: linear-gradient(270deg,#13253814,#09121c0e,#04080c11);
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.5);
}

.webdev .cards div img,
.others .cards div img {
    max-width: 90%;
    height: 90%;
    border-radius: inherit;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.037);
}
.webdev .cards div ul,
.others .cards div ul {
    font-size: 16px;
    width: 60%;
    text-align: left;
    list-style: none; 
    padding: 50px;      
    line-height: 1.5;  
    opacity: 0;                 
    max-height: 0;              
    overflow: hidden;           
    transition: opacity 0.6s ease-in, max-height 0.6s ease-in; 
}

.webdev .cards div:hover ul,
.others .cards div:hover ul {
    opacity: 1;
    max-height: 200px;   
    transition-delay: 0.4s; /* text shows only after width is half expanded */
}

.webdev .cards div:not(:hover) ul,
.others .cards div:not(:hover) ul {
    display: none;
    transition-delay: 0.4s; /* delay before hiding text */
}

h1 {
    font-family: "WindSong", serif;
    font-size: 50px;
    margin-bottom: 0%;
}

h2 {
    font-family: 'WindSong', serif;
    font-size: 30px;
}

footer {
    width: 100%; /* Stretch to full width */
    height: 50px;
    font-size: small;
    text-align: center; /* Center text */
    line-height: 50px; /* Vertically center content within footer */
    background-color: #122436; /* Match span color for cohesion */
    color: white;
}
